
  .user-image {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .user-image img{
    max-width: 25px;
    max-height: 25px;
  }

  .name{
    font-size: 22px;
    font-weight: bold;
  }

  .email{
    font-size: 17px;
  }

  .phone{
    font-size: 17px;
  }