
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.modal-box{
    position: relative;
    width: 50%;
    margin: 0 10%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
}

.modal-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    align-items: end;
    border-radius: 15px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
}

.modal-close-btn:hover{
    background-color: #d1cdcd;
}

.modal-close-btn img{
    max-width: 30px;
}

.modal-title{
    font-size: 30px;
}

.modal-content{
    margin-top: 50px;
}