.list{
    margin-top: 10px;
    text-align: center;
}

.list h2{
    font-size: 24px; 
    font-weight: bold;
    color: #000000; 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-list{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.list-card{
    display: flex;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 5px 0;
    align-items: center;
    transition: 0.06s;
    /*position: relative;*/ /* isso pode ser mudado, so estava em OrderList.css */
}
/*
.list-card:hover{
    transform: scale(1.009);
    background-color: #d0d2e9;
}*/

.add-button{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
}

.add-button button{
    font-size: 18px;
    background-color: #2e8b57;
    color: #0f2e1c;
    width: 200px;
    height: 40px;
    border: 2px solid #0f2e1c;
    border-radius: 7px;
    cursor: pointer;
}

.add-button button:hover{
    background-color: #1f613c;
    transform: scale(1.02);
}

.list-info{
    flex: 1;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.list-data{
    margin-top: 1.3px;
    margin-bottom: 1.3px;
}

.delete-edit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    background-color: transparent;
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.delete-btn img{
    max-width: 60%;
    max-height: 60%;
    vertical-align: middle;
}

.delete-btn:hover{
    background-color: rgb(254, 123, 123);
}