
.footer {
    background-color: #bbbbbb;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between logos as needed */
  }
  
  .logo-container img {
    max-width: 70px; /* Adjust the maximum width of the logos as needed */
  }

  /* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .logo-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logo-container img {
    max-width: 50px; /* Adjust the maximum width of the logos for smaller screens */
    margin: 10px 0; /* Add some margin to separate logos vertically */
  }
}
  